<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_body_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¿Qué puedo hacer?</string>
	</dict>
	<key>error_body_title_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¿Cómo lo autorizo?</string>
	</dict>
	<key>error_body_description_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, intente pagar de otra forma.</string>
	</dict>
	<key>error_body_description_pending_contingency</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>En unas horas te avisaremos por e-mail si se acreditó.</string>
	</dict>
	<key>error_body_description_pending_review_manual</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Dentro de las próximas 24 horas te avisaremos por e-mail si se acreditó.</string>
	</dict>
	<key>error_body_description_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>1- Llama al teléfono que está al reverso de tu tarjeta para autorizar el pago de [amount] a Mercado Pago.
2- Avísanos para que podamos acreditarlo.</string>
	</dict>
	<key>error_body_description_cc_rejected_card_disabled</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Llama a %1$s para activar tu tarjeta o usa otro medio de pago</string>
	</dict>
	<key>error_body_description_rejected_by_bank</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, intente pagar de otra forma.</string>
	</dict>
	<key>error_body_description_rejected_insufficient_data</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, intente pagar de otra forma.</string>
	</dict>
	<key>error_body_description_cc_rejected_insufficient_amount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tus fondos son insuficientes o superaste el límite de compra. Intenta pagar con otro medio.</string>
	</dict>
	<key>error_body_description_cc_rejected_duplicated_payment</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Igual no te preocupes que tu pago anterior se efectuó con éxito.</string>
	</dict>
	<key>error_body_description_cc_rejected_max_attempts</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Como llegaste al límite de intentos con esta tarjeta, usa otro medio de pago.</string>
	</dict>
	<key>error_body_description_rejected_high_risk</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Intenta pagar con otro medio.</string>
	</dict>
	<key>error_body_description_cc_rejected_high_risk</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Intenta pagar con otro medio.</string>
	</dict>
	<key>error_body_description_rejected_by_regulations</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Para pagar con dinero en cuenta debes completar los datos faltantes.</string>
	</dict>
	<key>error_body_description_cc_rejected_invalid_installments</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Elige otra cantidad de cuotas o usa otro medio de pago.</string>
	</dict>
	<key>error_body_action_text_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ya hablé y me autorizó</string>
	</dict>
	<key>error_body_action_text_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ya hablé con %1$s y me autorizó</string>
	</dict>
	<key>error_body_secondary_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¿No pudiste autorizarlo?</string>
	</dict>
	<key>cc_rejected_call_for_authorize_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tu tarjeta no autorizó el pago</string>
	</dict>
	<key>cc_rejected_card_disabled_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ya activé la tarjeta</string>
	</dict>
	<key>cc_rejected_bad_filled_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Reingresar los datos de la tarjeta</string>
	</dict>
	<key>cc_rejected_call_for_authorize_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ya autoricé el pago</string>
	</dict>
	<key>cc_rejected_generic_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Pagar con otro medio</string>
	</dict>
	<key>cc_rejected_duplicated_payment_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Entendido</string>
	</dict>
	<key>cc_rejected_fraud_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>cc_rejected_card_disabled_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tu tarjeta no está activada</string>
	</dict>
	<key>cc_rejected_insufficient_amount_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tu tarjeta rechazó el pago</string>
	</dict>
	<key>cc_rejected_other_reason_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No pudimos procesar tu pago</string>
	</dict>
	<key>cc_rejected_duplicated_payment_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Lo sentimos, el pago se hizo dos veces y rechazamos el segundo</string>
	</dict>
	<key>cc_rejected_max_attempts_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Rechazamos tu pago porque llegaste al límite de intentos</string>
	</dict>
	<key>cc_rejected_blacklist_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Rechazamos tu pago con esta tarjeta</string>
	</dict>
	<key>cc_rejected_fraud_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Estás suspendido para pagar</string>
	</dict>
	<key>cc_rejected_high_risk_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Rechazamos tu pago</string>
	</dict>
	<key>cc_rejected_bad_filled_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Algún dato de la tarjeta es inválido</string>
	</dict>
	<key>rejected_high_risk_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No puedes usar tu dinero en Mercado Pago para este pago</string>
	</dict>
	<key>rejected_by_regulations_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No pudimos procesar tu pago</string>
	</dict>
	<key>cc_rejected_invalid_installments_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tu tarjeta no acepta esta cantidad de cuotas</string>
	</dict>
	<key>rejected_default_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No pudimos procesar tu pago</string>
	</dict>
	<key>discount_coupon_detail_default_concept</key>
	<dict>
		<key>comment</key>
		<string>Concepto Default en el modal de Discount Coupon</string>
		<key>value</key>
		<string>Descuento</string>
	</dict>
	<key>discount_coupon_detail_description</key>
	<dict>
		<key>comment</key>
		<string>Descripción del descuento</string>
		<key>value</key>
		<string> de descuento</string>
	</dict>
	<key>payment_result_screen_congrats_copy_button</key>
	<dict>
		<key>comment</key>
		<string>Texto de snack bar al copiar</string>
		<key>value</key>
		<string>¡Listo! Copiado.</string>
	</dict>
	<key>payment_result_screen_congrats_finish_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para terminar el flujo en una pantalla de congrats</string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_next_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para pasar a la siguiente pantalla</string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_previous_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para volver a la pantalla anterior</string>
		<key>value</key>
		<string>Anterior</string>
	</dict>
	<key>payer_info_name</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Nombre</string>
	</dict>
	<key>payer_info_legal</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Razón Social</string>
	</dict>
	<key>payer_info_surname</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Apellido</string>
	</dict>
	<key>payer_info_number</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Número</string>
	</dict>
	<key>payer_info_type</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tipo</string>
	</dict>
	<key>payer_info_placeholder_cpf</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>NOMBRE Y APELLIDO</string>
	</dict>
	<key>payer_info_placeholder_cnpj</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>RAZÓN SOCIAL</string>
	</dict>
	<key>review_change_payment_method_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Cambiar medio de pago</string>
	</dict>
	<key>review_change_payer_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Modificar</string>
	</dict>
	<key>bank_deal_details_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Condiciones</string>
	</dict>
	<key>bank_deal_details_date_format</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Hasta el %@</string>
	</dict>
	<key>bank_deals_screen_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Promociones</string>
	</dict>
	<key>review_terms_and_conditions</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Al pagar, declaro que soy mayor de edad y acepto los Términos y Condiciones.</string>
	</dict>
	<key>review_discount_terms_and_conditions</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Descuento exclusivo de Mercado Libre y Mercado Pago. Ver condiciones</string>
	</dict>
	<key>review_discount_terms_and_conditions_link</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ver condiciones</string>
	</dict>
	<key>discount_detail_modal_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Mi descuento</string>
	</dict>
	<key>discount_detail_modal_footer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Los descuentos no son acumulables. Te damos el más alto para este pago.</string>
	</dict>
	<key>discount_detail_modal_disclaimer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tope de descuento %1$s</string>
	</dict>
	<key>discount_end_date</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Válido hasta el %1s.</string>
	</dict>
	<key>unique_discount_detail_modal_footer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tope disponible para consumir en un único pago.</string>
	</dict>
	<key>multiple_discount_detail_modal_footer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Con cada pago en esta marca vas a consumir el tope hasta agotarlo.</string>
	</dict>
	<key>total_row_title_add_coupon</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¿Tienes un cupón de descuento?</string>
	</dict>
	<key>total_row_disclaimer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Con tope de descuento</string>
	</dict>
	<key>one_tap_discount_disclaimer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>con tope de descuento</string>
	</dict>
	<key>total_row_title_percent_off</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>%1$s OFF</string>
	</dict>
	<key>total_row_title_amount_off</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>%1$s OFF</string>
	</dict>
	<key>total_row_title_default</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Total a pagar</string>
	</dict>
	<key>total_row_consumed_discount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Alcanzaste el tope de descuento</string>
	</dict>
	<key>modal_title_consumed_discount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Alcanzaste el tope</string>
	</dict>
	<key>modal_content_consumed_discount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Este descuento ya no aplica porque consumiste el tope máximo.</string>
	</dict>
	<key>review_and_confirm_toast_error</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Algo salió mal</string>
	</dict>
	<key>add_card_congrats_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¡Listo! Tu tarjeta quedó guardada. Podés usarla cuando quieras.</string>
	</dict>
	<key>add_card_go_to_my_cards</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ir a Mis tarjetas</string>
	</dict>
	<key>add_card_failed_label_text</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Algo salió mal…</string>
	</dict>
	<key>add_card_failed_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No pudimos cargar los datos de tu tarjeta</string>
	</dict>
	<key>add_card_try_again</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Intentar de nuevo</string>
	</dict>
	<key>onetap_add_new_card_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Agregar una tarjeta nueva</string>
	</dict>
	<key>onetap_purchase_summary_total</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Total a pagar</string>
	</dict>
	<key>onetap_purchase_summary_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tu compra</string>
	</dict>
	<key>onetap_purchase_summary_charges</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Cargos</string>
	</dict>
	<key>onetap_select_installment_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Selecciona la cuota</string>
	</dict>
	<key>terms_and_conditions_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Términos y Condiciones</string>
	</dict>
	<key>disabled_title_am</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tu dinero en Mercado Pago no está disponible ahora</string>
	</dict>
	<key>disabled_title_card</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Esta tarjeta no está disponible ahora</string>
	</dict>
	<key>disabled_description_am</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No te preocupes, puedes usar otro medio para completar el pago.</string>
	</dict>
	<key>disabled_description_card</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>No te preocupes, puedes usar otro medio para completar el pago.</string>
	</dict>
	<key>disabled_screen_change_method_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Pagar con otro medio</string>
	</dict>
	<key>disabled_disclaimer_am</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string> Medio no disponible para este pago</string>
	</dict>
	<key>disabled_disclaimer_card</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tarjeta no disponible para este pago</string>
	</dict>
</dict>
</plist>
