<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_body_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>O que posso fazer?</string>
	</dict>
	<key>error_body_title_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Como posso autorizá-lo?</string>
	</dict>
	<key>error_body_description_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>error_body_description_pending_contingency</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Em algumas horas te avisaremos por e-mail se foi aprovado.</string>
	</dict>
	<key>error_body_description_pending_review_manual</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Dentro das próximas 24 horas te avisaremos por e-mail se foi aprovado.</string>
	</dict>
	<key>error_body_description_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>1- Ligue para o telefone no verso do seu cartão para autorizar o pagamento de [amount] para o Mercado Pago.
2- Por favor, avise-nos para que possamos creditá-lo.</string>
	</dict>
	<key>error_body_description_cc_rejected_card_disabled</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ligue para o %1$s para desbloquear seu cartão ou use outro meio de pagamento.</string>
	</dict>
	<key>error_body_description_rejected_by_bank</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>error_body_description_rejected_insufficient_data</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>error_body_description_cc_rejected_insufficient_amount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Seus fundos são insuficientes ou você excedeu o limite de compra. Tente pagar com outro meio.</string>
	</dict>
	<key>error_body_description_cc_rejected_duplicated_payment</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não se preocupe, cobramos somente o primeiro pagamento.</string>
	</dict>
	<key>error_body_description_cc_rejected_max_attempts</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Como você atingiu o limite de tentativas com este cartão, por favor, use outro meio de pagamento.</string>
	</dict>
	<key>error_body_description_rejected_high_risk</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tente pagar com outro meio.</string>
	</dict>
	<key>error_body_description_cc_rejected_high_risk</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tente pagar com outro meio.</string>
	</dict>
	<key>error_body_description_rejected_by_regulations</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Para pagar com dinheiro em conta, você deve preencher os dados faltantes.</string>
	</dict>
	<key>error_body_description_cc_rejected_invalid_installments</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Selecione outro número de parcelas ou use outro meio de pagamento.</string>
	</dict>
	<key>error_body_action_text_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Já falei e autorizei</string>
	</dict>
	<key>error_body_action_text_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Já falei com %1$s e autorizei</string>
	</dict>
	<key>error_body_secondary_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não conseguiu autorizá-lo?</string>
	</dict>
	<key>cc_rejected_call_for_authorize_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Seu cartão não autorizou o pagamento</string>
	</dict>
	<key>cc_rejected_card_disabled_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Já desbloqueei o cartão</string>
	</dict>
	<key>cc_rejected_bad_filled_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Inserir os dados do cartão novamente</string>
	</dict>
	<key>cc_rejected_call_for_authorize_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Já autorizei o pagamento</string>
	</dict>
	<key>cc_rejected_generic_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Pagar com outro meio</string>
	</dict>
	<key>cc_rejected_duplicated_payment_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Entendi</string>
	</dict>
	<key>cc_rejected_fraud_button</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>cc_rejected_card_disabled_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Seu cartão não está desbloqueado</string>
	</dict>
	<key>cc_rejected_insufficient_amount_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Seu cartão recusou o pagamento</string>
	</dict>
	<key>cc_rejected_other_reason_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não foi possível processar seu pagamento</string>
	</dict>
	<key>cc_rejected_duplicated_payment_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Desculpe, o pagamento foi feito duas vezes, por isso recusamos a segunda vez</string>
	</dict>
	<key>cc_rejected_max_attempts_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Recusamos o pagamento porque você atingiu o limite de tentativas</string>
	</dict>
	<key>cc_rejected_blacklist_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Recusamos seu pagamento com este cartão</string>
	</dict>
	<key>cc_rejected_fraud_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Você está suspenso para pagar</string>
	</dict>
	<key>cc_rejected_high_risk_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Recusamos seu pagamento</string>
	</dict>
	<key>cc_rejected_bad_filled_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Algum dado do cartão está incorreto</string>
	</dict>
	<key>rejected_high_risk_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Você não pode usar seu dinheiro no Mercado Pago para este pagamento</string>
	</dict>
	<key>rejected_by_regulations_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não foi possível processar o seu pagamento</string>
	</dict>
	<key>cc_rejected_invalid_installments_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Seu cartão não permite este número de parcelas</string>
	</dict>
	<key>rejected_default_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não foi possível processar o seu pagamento</string>
	</dict>
	<key>discount_coupon_detail_default_concept</key>
	<dict>
		<key>comment</key>
		<string>Concepto Default en el modal de Discount Coupon</string>
		<key>value</key>
		<string>Desconto</string>
	</dict>
	<key>discount_coupon_detail_description</key>
	<dict>
		<key>comment</key>
		<string>Descripción del descuento</string>
		<key>value</key>
		<string> de desconto</string>
	</dict>
	<key>payment_result_screen_congrats_copy_button</key>
	<dict>
		<key>comment</key>
		<string>Texto de snack bar al copiar</string>
		<key>value</key>
		<string>Pronto! Copiado.</string>
	</dict>
	<key>payment_result_screen_congrats_finish_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para terminar el flujo en una pantalla de congrats</string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_next_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para pasar a la siguiente pantalla</string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_previous_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para volver a la pantalla anterior</string>
		<key>value</key>
		<string>Anterior</string>
	</dict>
	<key>payer_info_name</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Nome</string>
	</dict>
	<key>payer_info_legal</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Razão Social</string>
	</dict>
	<key>payer_info_surname</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Sobrenome</string>
	</dict>
	<key>payer_info_number</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Número</string>
	</dict>
	<key>payer_info_type</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tipo</string>
	</dict>
	<key>payer_info_placeholder_cpf</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>SOBRENOME E NOME</string>
	</dict>
	<key>payer_info_placeholder_cnpj</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>RAZÃO SOCIAL</string>
	</dict>
	<key>review_change_payment_method_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Alterar meio de pagamento</string>
	</dict>
	<key>review_change_payer_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Modificar</string>
	</dict>
	<key>bank_deal_details_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Condições</string>
	</dict>
	<key>bank_deal_details_date_format</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Até %@</string>
	</dict>
	<key>bank_deals_screen_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Promoções</string>
	</dict>
	<key>review_terms_and_conditions</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ao pagar, declaro que sou maior de idade e aceito os Termos e Condições.</string>
	</dict>
	<key>review_discount_terms_and_conditions</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Desconto exclusivo do Mercado Livre e Mercado Pago. Ver condições</string>
	</dict>
	<key>review_discount_terms_and_conditions_link</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ver condições</string>
	</dict>
	<key>discount_detail_modal_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Meu desconto</string>
	</dict>
	<key>discount_detail_modal_footer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Os descontos não são acumulativos. Aplicamos o mais alto para este pagamento.</string>
	</dict>
	<key>discount_detail_modal_disclaimer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Limite de desconto %1$s</string>
	</dict>
	<key>discount_end_date</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Válido até %1s.</string>
	</dict>
	<key>unique_discount_detail_modal_footer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Limite disponível para consumo em um único pagamento.</string>
	</dict>
	<key>multiple_discount_detail_modal_footer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>A cada pagamento para esta marca, você terá descontos até atingir o limite.</string>
	</dict>
	<key>total_row_title_add_coupon</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Você tem um cupom de desconto?</string>
	</dict>
	<key>total_row_disclaimer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Com limite de desconto</string>
	</dict>
	<key>one_tap_discount_disclaimer</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>com limite de desconto</string>
	</dict>
	<key>total_row_title_percent_off</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>%1$s OFF</string>
	</dict>
	<key>total_row_title_amount_off</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>%1$s OFF</string>
	</dict>
	<key>total_row_title_default</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Total a pagar</string>
	</dict>
	<key>total_row_consumed_discount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Você alcançou o limite do desconto </string>
	</dict>
	<key>modal_title_consumed_discount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Você atingiu o limite</string>
	</dict>
	<key>modal_content_consumed_discount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Este desconto não é aplicável, porque você atingiu o limite.</string>
	</dict>
	<key>review_and_confirm_toast_error</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Algo não vai bem</string>
	</dict>
	<key>add_card_congrats_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Pronto! O seu cartão foi salvo</string>
	</dict>
	<key>add_card_go_to_my_cards</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ir para Meus cartões</string>
	</dict>
	<key>add_card_failed_label_text</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ocorreu um erro…</string>
	</dict>
	<key>add_card_failed_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não foi possível carregar os dados do seu cartão</string>
	</dict>
	<key>add_card_try_again</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tentar novamente</string>
	</dict>
	<key>onetap_add_new_card_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Adicionar um novo cartão</string>
	</dict>
	<key>onetap_purchase_summary_total</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Total a pagar</string>
	</dict>
	<key>onetap_purchase_summary_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Sua compra</string>
	</dict>
	<key>onetap_purchase_summary_charges</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Cobranças</string>
	</dict>
	<key>onetap_select_installment_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Selecione o parcelamento</string>
	</dict>
	<key>terms_and_conditions_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Termos e Condições</string>
	</dict>
	<key>disabled_title_am</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Seu dinheiro do Mercado Pago está indisponível no momento</string>
	</dict>
	<key>disabled_title_card</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Este cartão está indisponível no momento</string>
	</dict>
	<key>disabled_description_am</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não se preocupe, você pode usar outro meio para concluir o pagamento.</string>
	</dict>
	<key>disabled_description_card</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Não se preocupe, você pode usar outro meio para concluir o pagamento.</string>
	</dict>
	<key>disabled_screen_change_method_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Pagar com outro meio</string>
	</dict>
	<key>disabled_disclaimer_am</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Meio indisponível para este pagamento</string>
	</dict>
	<key>disabled_disclaimer_card</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Cartão indisponível para este pagamento</string>
	</dict>
</dict>
</plist>
